<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  <title>Translate widget</title>
</head>

<body>
  <div class="mainContainer">
    <h2>Translate text</h2>
    <div id="primary-text">
      <p class="d-inline">From</p>
      <select class="d-inline mdb-select md-form" (change)="onSelectFromChange($event)">
        <option value="" disabled selected>Choose your language</option>
        <option value="1">English</option>
        <option value="2">French</option>
        <option value="3">Espagnol</option>
      </select>
      <p class="d-inline">To</p>
      <select class="d-inline mdb-select md-form" (change)="onSelectToChange($event)">
        <option value="" disabled selected>Choose your language</option>
        <option value="1">English</option>
        <option value="2">French</option>
        <option value="3">Espagnol</option>
      </select>
    </div>
    <div class="form-group">
      <label for="textAreaTranslate">Enter text to translate</label>
      <textarea class="form-control" id="textAreaTranslate" rows="3" (change)="onTextChange($event)"></textarea>
      <button type="button" class="btn btn-primary" (click)="onTranslate()">Translate</button>
    </div>
    <div class="translatedText" *ngIf="showTranslate">
      <p>{{textTranslated}}</p>
    </div>
  </div>
</body>

</html>
