<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Meteo widget</title>
</head>

<body>

<div>
  <div *ngIf="this.movies">
    <div class="scrolling-wrapper-flexbox" style="background-color: black;">
      <div class="card" *ngFor="let movie of this.movies.results">
        <div style="width: 200px; height: 200px;">
          <img class="Ytimg" [src]="this.getImageUrl(movie.poster_path)"/>
        </div>
        <label class="filmDescription">{{movie.title}}</label>
      </div>
      <img src="./assets/more.png" style="width: 200px;height: 200px;" (click)="this.loadMoreImage()">
    </div>

    <div style="text-align: center">
      <select class="selector" (change)="onFilterChanged($event)">
        <option value="popular">Populaire</option>
        <option value="top_rated">Les mieux notés</option>
        <option value="upcoming">À venir</option>
      </select>
    </div>
  </div>
</div>

</body>
</html>
